<div id='signin'>
  <h1 style="padding-left:10px">signin</h1>
  <form name="signinForm" ng-submit='signin()' novalidate>
    <input type='text' name='username' ng-model='user.username' ng-minlength='4' ng-maxlength= '20' required>
    <span ng-show="signinForm.username.$error.required">
      Required username!</span>
    <input type="password" name='password' ng-model='user.password' ng-minlength='4' required>
    <span ng-show="signinForm.password.$error.required">
      Required password!</span>
    <button type="submit" ng-disabled="signinForm.$invalid">signin</button>
  </form>
  <a href="#/signup">Don't have an account? <strong>Signup</strong> ...</a>
</div>
