<div id='signup'>
  <h1 style="padding-left:10px">signup</h1>
  <form name="signupForm" ng-submit='signup()' novalidate>
    <input type='text' name='username' ng-model='user.username' ng-minlength='4' ng-maxlength= '20' required>
    <span class="errorMessage"ng-show="signupForm.username.$error.required">
      Required username!</span>
    <span class="errorMessage"ng-show="signupForm.username.$error.minlength">
      Username too short!</span>
    <span class="errorMessage"ng-show="signupForm.username.$error.maxlength">
      Username too long!</span>
    <input type="password" name='password' ng-model='user.password' ng-minlength='4' required>
    <span class="errorMessage"ng-show="signupForm.password.$error.required">
      Required password!</span>
    <button type="submit" ng-disabled="signupForm.$invalid">signup</button>
  </form>
  <a href="#/signin" style="padding-left:10px">Already have an account? <strong>Signin</strong> ...</a>
</div>
